<a href="https://colab.research.google.com/github/FarahNawar/MachineLearning/blob/main/TF_IDF_withoutsklearnFunction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#import necessary libraries
import pandas as pd
import sklearn as sk
import math

In [ ]:
corpus=['ঢাকা দক্ষিণ এশিয়ার রাষ্ট্র বাংলাদেশের রাজধানী ও বৃহত্তম শহর',
         'প্রশাসনিকভাবে এটি ঢাকা জেলার প্রধান শহর',
        'ঢাকা শহর মসজিদের শহর নামে সুপরিচিত']

In [ ]:
data=[]
total=set()
for i in corpus:
  data.append(i.split(" "))
  total=total.union(set(i.split(" ")))

In [ ]:
data

[['ঢাকা',
  'দক্ষিণ',
  'এশিয়ার',
  'রাষ্ট্র',
  'বাংলাদেশের',
  'রাজধানী',
  'ও',
  'বৃহত্তম',
  'শহর'],
 ['প্রশাসনিকভাবে', 'এটি', 'ঢাকা', 'জেলার', 'প্রধান', 'শহর'],
 ['ঢাকা', 'শহর', 'মসজিদের', 'শহর', 'নামে', 'সুপরিচিত']]

In [ ]:
total

{'এটি',
 'এশিয়ার',
 'ও',
 'জেলার',
 'ঢাকা',
 'দক্ষিণ',
 'নামে',
 'প্রধান',
 'প্রশাসনিকভাবে',
 'বাংলাদেশের',
 'বৃহত্তম',
 'মসজিদের',
 'রাজধানী',
 'রাষ্ট্র',
 'শহর',
 'সুপরিচিত'}

In [ ]:
dictlist = [dict.fromkeys(total, 0) for x in range(len(corpus))]

In [ ]:
dictlist

[{'এটি': 0,
  'এশিয়ার': 0,
  'ও': 0,
  'জেলার': 0,
  'ঢাকা': 0,
  'দক্ষিণ': 0,
  'নামে': 0,
  'প্রধান': 0,
  'প্রশাসনিকভাবে': 0,
  'বাংলাদেশের': 0,
  'বৃহত্তম': 0,
  'মসজিদের': 0,
  'রাজধানী': 0,
  'রাষ্ট্র': 0,
  'শহর': 0,
  'সুপরিচিত': 0},
 {'এটি': 0,
  'এশিয়ার': 0,
  'ও': 0,
  'জেলার': 0,
  'ঢাকা': 0,
  'দক্ষিণ': 0,
  'নামে': 0,
  'প্রধান': 0,
  'প্রশাসনিকভাবে': 0,
  'বাংলাদেশের': 0,
  'বৃহত্তম': 0,
  'মসজিদের': 0,
  'রাজধানী': 0,
  'রাষ্ট্র': 0,
  'শহর': 0,
  'সুপরিচিত': 0},
 {'এটি': 0,
  'এশিয়ার': 0,
  'ও': 0,
  'জেলার': 0,
  'ঢাকা': 0,
  'দক্ষিণ': 0,
  'নামে': 0,
  'প্রধান': 0,
  'প্রশাসনিকভাবে': 0,
  'বাংলাদেশের': 0,
  'বৃহত্তম': 0,
  'মসজিদের': 0,
  'রাজধানী': 0,
  'রাষ্ট্র': 0,
  'শহর': 0,
  'সুপরিচিত': 0}]

In [ ]:
j=0
for i in data:  
  for word in i:
    dictlist[j][word]=dictlist[j][word]+1
  j=j+1
  if j==len(dictlist):
    break

In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame.from_dict(dictlist)

In [ ]:
df

   এশিয়ার  সুপরিচিত  বৃহত্তম  জেলার  ...  ও  দক্ষিণ  রাজধানী  ঢাকা
0        1         0        1      0  ...  1       1        1     1
1        0         0        0      1  ...  0       0        0     1
2        0         1        0      0  ...  0       0        0     1

[3 rows x 16 columns]

In [ ]:
# TF function:
def computeTF(wordDict, bow):
    tfDict = {}
    bowCount = len(bow)
    for word, count in wordDict.items():
        tfDict[word] = count/float(bowCount)
    return tfDict

In [ ]:
j=0
dictlist2=[]
for i in data:  
    temp=computeTF(dictlist[j],i)
    dictlist2.append(temp)
    print("hi")
    j=j+1
    if j==len(dictlist):
      break

hi
hi
hi

In [ ]:
dictlist2

[{'এটি': 0.0,
  'এশিয়ার': 0.1111111111111111,
  'ও': 0.1111111111111111,
  'জেলার': 0.0,
  'ঢাকা': 0.1111111111111111,
  'দক্ষিণ': 0.1111111111111111,
  'নামে': 0.0,
  'প্রধান': 0.0,
  'প্রশাসনিকভাবে': 0.0,
  'বাংলাদেশের': 0.1111111111111111,
  'বৃহত্তম': 0.1111111111111111,
  'মসজিদের': 0.0,
  'রাজধানী': 0.1111111111111111,
  'রাষ্ট্র': 0.1111111111111111,
  'শহর': 0.1111111111111111,
  'সুপরিচিত': 0.0},
 {'এটি': 0.16666666666666666,
  'এশিয়ার': 0.0,
  'ও': 0.0,
  'জেলার': 0.16666666666666666,
  'ঢাকা': 0.16666666666666666,
  'দক্ষিণ': 0.0,
  'নামে': 0.0,
  'প্রধান': 0.16666666666666666,
  'প্রশাসনিকভাবে': 0.16666666666666666,
  'বাংলাদেশের': 0.0,
  'বৃহত্তম': 0.0,
  'মসজিদের': 0.0,
  'রাজধানী': 0.0,
  'রাষ্ট্র': 0.0,
  'শহর': 0.16666666666666666,
  'সুপরিচিত': 0.0},
 {'এটি': 0.0,
  'এশিয়ার': 0.0,
  'ও': 0.0,
  'জেলার': 0.0,
  'ঢাকা': 0.16666666666666666,
  'দক্ষিণ': 0.0,
  'নামে': 0.16666666666666666,
  'প্রধান': 0.0,
  'প্রশাসনিকভাবে': 0.0,
  'বাংলাদেশের': 0.0,
  'বৃহত্তম': 0.0,
  'মসজিদের': 0.16666666666666666,
  'রাজধানী': 0.0,
  'রাষ্ট্র': 0.0,
  'শহর': 0.3333333333333333,
  'সুপরিচিত': 0.16666666666666666}]

In [ ]:
df2 = pd.DataFrame.from_dict(dictlist2)

In [ ]:
df2

    এশিয়ার  সুপরিচিত   বৃহত্তম  ...    দক্ষিণ   রাজধানী      ঢাকা
0  0.111111  0.000000  0.111111  ...  0.111111  0.111111  0.111111
1  0.000000  0.000000  0.000000  ...  0.000000  0.000000  0.166667
2  0.000000  0.166667  0.000000  ...  0.000000  0.000000  0.166667

[3 rows x 16 columns]